tarefa05/imobiliaria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:p="http://imobiliaria.org"
        targetNamespace="http://imobiliaria.org"
        elementFormDefault="qualified">

    <element name="imobiliária">
        <complexType>
            <sequence>
                <element ref="p:imovel" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
     </element>

    <element name="descricao" type="string"></element>
    <element name="número" type="integer"></element>
    <element name="numQuartos" type="integer"></element>
    <element name="numBanheiros" type="integer"></element>
    <element name="tamanho" type="decimal"></element>
    <element name="valor" type="string"></element>
    <element name="nome" type="string"></element>
    <element name="rua" type="string"></element>
    <element name="bairro" type="string"></element>
    <element name="cidade" type="string"></element>
    <element name="telefone" type="string"></element>
    <element name="email" type="string"></element>



    <element name="imovel">
        <complexType>
        <sequence>
                <element ref="p:descricao"/>
                <element ref="p:proprietario"/>
                <element ref="p:endereco"/>
                <element ref="p:caracteristicas"/>
                <element ref="p:valor"/>
        </sequence>
        </complexType>
        </element>


    <element name="proprietario">
        <complexType>
            <sequence>
                <element ref="p:nome"/>
                <choice minOccurs="0" maxOccurs="unbounded">
                    <element ref="p:email"/>
                    <element ref="p:telefone"/>
                </choice>
            </sequence>
        </complexType>
    </element>


    <element name="endereco">
        <complexType>
        <sequence>
                <element ref="p:rua"/>
                <element ref="p:bairro"/>
                <element ref="p:cidade"/>
                <element ref="p:número" minOccurs="0"/>
        </sequence>
        </complexType>
    </element>

    <element name="caracteristicas">
        <complexType>
        <sequence>
                <element ref="p:tamanho"/>
                <element ref="p:numQuartos"/>
                <element ref="p:numBanheiros"/>
        </sequence>
        </complexType>
    </element>

</schema>