tarefa04/cardapio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:p="http://cardapio.org"
        targetNamespace="http://cardapio.org"
        elementFormDefault="qualified">


    <element name="cardapio">
        <complexType>
            <sequence>
                <element ref="p:prato" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
     </element>


    <element name="nome">
        <simpleType>
            <restriction base="string">
                <maxLength value="100"/>
            </restriction>
        </simpleType>
    </element>


    <element name="descricao">
        <simpleType>
            <restriction base="string">
                <maxLength value="300"/>
            </restriction>
        </simpleType>
    </element>


    <element name="ingrediente" type="string"></element>


    <element name="ingredientes">
        <complexType>
            <sequence>
                <element ref="p:ingrediente" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>


    <element name="preco">
        <simpleType>
                <restriction base="decimal">
                <fractionDigits value="2"/>
                </restriction>
        </simpleType>
     </element>


     <element name="calorias" type="integer"></element>


     <element name="tempoPreparo" type="string"></element>



        <element name="prato">
        <complexType>
        <sequence>
                <element ref="p:nome"/>
                <element ref="p:descricao"/>
                <element ref="p:ingredientes"/>
                <element ref="p:preco"/>
                <element ref="p:calorias"/>
                <element ref="p:tempoPreparo"/>
        </sequence>
        <attribute name="id" type="integer" use="required"/>
        </complexType>
        </element>
</schema>